body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6)
}


.keho {
  background: #fff;
  max-width: 300px;
  width: 100%;
/*border: 3px solid indigo;
näytti sittenki kai paremmalt ilman?????*/

  padding-top: 30px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 30px;
  margin: auto;
  border-radius: 10px;
}



.nappulat {
  font-family: verdana;
  padding: 12px;
}

.keho .otsikko1{
  font-family: consolas;
  position: relative;
  padding: 10px;
}

.keho .otsikko1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

.otsikko3 {
font-family: consolas;
color: black;
}
