/*hyvin simppelit muotoilut cheatille. tähän saa vapaasti kajota jos huvittaa
sanokaa jos haluutte cheat taululle id:n tai lisää classeja?*/

.cheatValittu {
  background-color: #f99;
}

.cheatPari {
  background-color: #000;
}

.hideTable {
  display: none;
}
