* {
  font-family: 'Goudy Bookletter 1911';
  color: #0282eb;
}
body{
  background:#1023c9;
}

.wrapper{
  position: relative;
  width: 600px;
  margin: auto;
  height: auto;
  background-color:#ffff;
  text-align: center;
  padding: 5px 10px 50px 10px;
  border-radius: 20px;

}
h1,p{
  font-family: 'Goudy Bookletter 1911', serif;
}

p{
  font-size: 20px;
}
#eka{
  width: 400px;
  height: 400px;
  margin: auto;
}
#toka{
  width: 600px;
  height: 400px;
  margin: auto;
}
#kolmas{
  width: 600px;
  height: 600px;
  margin: auto;
}
#aikaNaytto{
  width: 100px;
  height: 40px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 17px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  right: 103%;
}
