* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #000;
  color: #d6f172;
  font-family: 'VT323';
  font-size: 25px;
}

/* -K*/
#pelialue{
  width: 1102px;
  height: 602px;
  border: 1px solid #fff;
  margin: auto;
  margin-top: 50px;
  position: relative;
}
#pelialueContainer {
    width: 100%;
    margin: auto;
}

#dialogiBoxi {
  margin: auto;

  width: 1102px;
  height: 150px;
  border-top: 2px solid #fff;
  border-right: 100px solid #fff;
  border-left: 100px solid #fff;
  border-bottom: 10px solid #fff;
  padding: 20px;
  text-align: center;
}

/*unna heitti modal asetukset tänne*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #ccda96;
  color: #000;
  margin: 0;
  position: absolute;
  /*keskitys leveys ja pituussuunnassa*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 700px;
  text-align: center;
  font-size: 20px;
}

#momNote {
  background-color: #e5e5e2;
  width: 400px;
  height: 500px;
  margin: auto;
  padding: 20px;
  font-family: 'Allura';
  font-size: 30px;
  text-align: left;
}

.kuva {
  border: 2px solid #000;
}

map{
  cursor: pointer;
}

.interact {
  cursor: pointer;
  display: inline-block;
  margin-top: 17px;
  color: #fff;
  font-weight: bold;
}
.interact:hover {
  color: #c9ff00;
}
#solutions {
  color: #000;
}

.close {
  float: right;
  font-weight: bold;
  font-size: 25px;
}
.close:hover {
  cursor: pointer;
}

#box{
  position: absolute;
  top: 472px;
  left: 812px;
}

#curtain{
  position: absolute;
  top: 78px;
  left: 946px;
}

.pot{
  position: absolute;
  top: 332px;
  left: 490px;
}

#bag{
  position: absolute;
  top: 458px;
  left: 430px;
}

#jacket{
  position: absolute;
  top: 180px;
  left: 270px;
}

#note{
  position: absolute;
  top: 200px;
  left: 130px;
}

#lock-key{
  position: absolute;
  top: 250px;
  left: 190px;
}

#lock-code{
  position: absolute;
  top: 330px;
  left: 204px;
}

#lock-elec{
  position: absolute;
  top: 400px;
  left: 200px;
}

#door-open{
  position: absolute;
  top: 84px;
  left: 21px;
  visibility: hidden;
}

#pc-broken{
  position: absolute;
  top: 291px;
  left: 865px;
  display: none;
}

.movePot{
  left: 450px;
}
/*
#soundCred{
  position: absolute;
  bottom: 50px;
  top: 100px;
  left: 350px;
  color: black;
}

#codeCred{
  position: absolute;
  bottom: 50px;
  top: 100px;
  left: 350px;
  color: black;
}

#graphCred{
  position: absolute;
  bottom: 50px;
  top: 100px;
  left: 340px;
  color: black;
}

#botit{
  position: absolute;
  bottom: 50px;
  top: 100px;
  left: 290px;
  color: black;
}
*/
#monitor-desktop {
  position: absolute;
  cursor: pointer;
  top: 321px;
  left: 759px;
  width: 88px;
  height: 63px;
}

#monitor-game {
  position: absolute;
  cursor: pointer;
  top: 321px;
  left: 759px;
  width: 88px;
  height: 63px;
  display: none
}

#monitor-win {
  position: absolute;
  cursor: pointer;
  top: 321px;
  left: 759px;
  width: 88px;
  height: 63px;
  display: none
}

#monitor-broken {
  position: absolute;
  cursor: pointer;
  top: 321px;
  left: 759px;
  width: 88px;
  height: 63px;
  display: none;
}

#flappyufo {
  border: 1px solid #000;
  font-family: 'VT323';
  font-weight: bold;
}

#lockbutton{
  height: 25px;
  width: 60px;
  text-align: center;
  font-size: 23px;
  border-radius: 1px;
}
